<div class="ms-Grid">
  <div class="ms-Grid-row">
    <div class="ms-Grid-col ms-u-lg12">
      <div class="ms-font-su">New Contacts</div>
      <div class="ms-Table">
        <div class="ms-Table-row">
          <span class="ms-Table-cell ms-font-xl">First Name</span>
          <span class="ms-Table-cell ms-font-xl"><input ng-model="givenName"/></span>
        </div>
        <div class="ms-Table-row">
          <span class="ms-Table-cell ms-font-xl">Last Name</span>
          <span class="ms-Table-cell ms-font-xl"><input ng-model="surName" /></span>
        </div>
        <div class="ms-Table-row">
          <span class="ms-Table-cell ms-font-xl">E-mail</span>
          <span class="ms-Table-cell ms-font-xl"><input ng-model="email"  /></span>
        </div>
       </div>
      </div>
    </div>
  </div>
 </div>
 <button class="ms-Button; ms-bgColor-themePrimary ms-fontColor-white" ng-click="add()">Add</button>  